* {
	box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #CE3B45;
}

a:hover {
    color: #215097;
}

html { 
	font-size: 16px;
	font-family: "verdana", "microsoft-sans-serif", sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}
	
h3 {
	font-family: "avenir book", "verdana", "microsoft-sans-serif";
	font-size: .9rem;
	color: #D38E17;
	text-transform: uppercase;
}

.splitGrid {
	display: grid;
	grid-template-columns: 4fr 1fr ;
	margin-left: 15%;
	margin-right: 15%;
}

.footer {
	margin-left: 0 auto;
	font-size: .6rem;
	border-top: 5px;
}



/*Elements from the right-hand side navigation bar*/

.name {
	font-family: "Avenir Book", "verdana","microsoft sans serif";
	font-weight: "bold";
	padding-top: 15px;
	display: flex;
	align-items: center;
	text-size: 1.4rem;
}

.contactBar {
	background-color: #C6D2D1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: left;
	justify-content: flex-start;
}

.header {
	background-color: #215097;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	color: #D0D2CA;
	padding-top: 40px;
	padding-bottom: 5px;
}

.profilePic {
	border-radius: 50%;
	width: 80%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.status {
	font-family: "avenir book", "verdana", "microsoft sans serif";
	font-size: .8rem;
	padding-bottom: 15px;
	padding-top: 15px;
}

.contactDeets {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 15%;
	margin-right: 5px;
	padding-top: 40px;
	line-height: 140%;
}

.educationDeets {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding-right: 25px;
	margin-left: 15%;
	margin-right: 5px;
	wrap: wrap;
	padding-top: 20px;
	line-spacing: 120%;
}

.langSkills {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding-right: 25px;
	margin-left: 15%;
	margin-right: 5px;
	padding-bottom: 100px;
	padding-top: 20px;
}

.contactUnit{
	color: #CE3B45;
	font-size: .9rem;
}

.edName { 
	font-size: .9rem;
	color: black;
}

.edWhere {
	font-size: .7rem;
	color: #292B2F;
	padding-top: 10px;
}

.edWhen {
    font-size: .7rem;
	color: #292B2F;
	padding-bottom: 10px;
}
	
.langUnit {
	font-style: normal;
	font-size: .9rem;
	color: black;
	padding-bottom: 10px;
}

/* Elements from the left hand body*/


.bodyExp {
	background-color: #CBCDCD;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.mainContent {
	display: flex;
	flex-direction: column;
	wrap: nowrap;
}

.careerProfile {
	display: flex;
	flex-direction: column;
	margin: 15px;
	padding: 25px;
	padding-top: 5%;
}
	
.profileBody {
	font-size: .9rem;
	padding-top: 5px;
	line-spacing: 110%;
}
	
.projects {
	display: flex;
	flex-direction: column;
	align-items: left;
	wrap: nowrap;
	margin: 15px;
	padding: 25px;
}
	
.experience {
	display: flex;
	flex-direction: column;
	align-items: left;
	wrap: nowrap;
	margin: 15px;
	padding: 25px;
}

.experienceBanner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.experienceItemHeading {
	font-family: "avenir book",  "verdana", "microsoft sans serif";
	font-size: 1.2rem;
	padding-top: 25px;
}

.expDates {
	font-size: 1rem;
	color: #215097;
	padding-top: 10px;
	padding-right: 10%;
	font-family: "avenir book",  "verdana", "microsoft sans serif";
}
	
.experienceItemBody {
	font-size: .8rem;
	padding-top: 5px;
	padding-bottom: 10px;
}
	
.contentHeadings {
	color: #D38E17;
	font-size: 2rem;
	padding-top: 10px;
	font-family: "avenir book",  "verdana", "microsoft sans serif";
	text-transform: uppercase;
	
}

.portfolioBanner {
	display: flex;
	flex-direction: row;
	wrap: nowrap;
	justify-content: space-between;	
	align-items: top;
}

.folioImage {
	max-width: 13vw;
	border: 2px solid;
	border-radius: 10px;
}

figcaption {
	font-size: .6rem;
}

.folioImageHolder {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 25px;
	padding-top: 8px;
}

.folioMobileLink {
	visibility: hidden;
	display: none;
}

.mobileLink:hover {
	color: #215097;
}

@media only screen and (max-width:800px) {
	
	html { 
		font-size: 20px;
	}
	
	.splitGrid {
		display: flex;
		flex-direction: column-reverse;
		wrap: wrap;
		margin-left: 0;
		margin-right: 0;
		
	}
	
	.bodyExp {
		background-color: #C6D2D1;
	}
	
	.header {
		background-color: #215097;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		color: #D0D2CA;
		padding-bottom: 30px;
	}
	
	.name {
		display: flex;
		align-items: center;
		margin-left: 25%;
		margin-right: 25%;
		text-size: 1.6rem;		
	}
	
	.status {
		align-items: center;
		margin-left: 25%;
		margin-right: 25%;
		text-size: 1.2rem;
		padding-bottom: 20px;
	}
	
	.profilePic {
		border-radius: 50%;
		width: 80%;
		display: flex;
		margin: auto;
		align-items: center;
		margin-top: 40px;
	}
	
	.contactBar {
		background-color: #C6D2D1;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}
	
	.footer {
		margin: 0;
	}
	
	.contactDeets {
		margin-left: 0;
		margin-right: 0;
		padding-top: 40px;
		line-height: 140%;
	}
	
	.langSkills {
		padding-right: 0px;
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 50px;
		padding-top: 20px;
		align-items: center;
	}
	
	.educationDeets {
		padding-right: 0px;
		margin-left: 0%;
		margin-right: 0px;
		wrap: wrap;
		padding-top: 20px;
		align-items: center;
	
	}
	
	.folioImageHolder {
		visibility: hidden;
		display: none;
	}
	
	.folioMobileLink {
		visibility: visible;
		display: inline-block;
		padding-top: 25px;
		padding-left: 25px;
	}
	
	.portfolioBanner {
		align-items: center;
	}
	
	



	