* {
	box-sizing:border-box;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #B4535A;
}
a:hover {
    color: #D0D2CA;
}

html { 
	font-size:16px;
	font-family:"Microsoft sans serif", sans-serif;
}

body {
	margin:0px;
	padding:0px;
/*	background-color:#D59C3E;*/
}


	
h3 {
	text-size:1rem;
	color:black;
}

.name {
	padding-top:15px;
	display:flex;
	align-items:center;
	text-size:1.4rem;}

.splitGrid {
	display: grid;
	grid-template-columns: 4fr 1fr ;
	margin-left: 15%;
	margin-right:15%;
}

.bodyExp {
	background-color: #A8A9A9;
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;

}

.contactBar {
	background-color: #88A19E;
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	align-items:left;
	justify-content:flex-start;
}

.header {
	background-color:#215097;
	display: flex;
	align-items:center;
	flex-direction: column;
	flex-wrap:wrap;
	width: 100%;
	color:#D0D2CA;
	padding-top:40px;
	padding-bottom:5px;
}

.profilePic {
	border-radius: 50%;
	width: 80%;
	display: flex;
	align-items:center;
	margin:0 auto;
}
.status {
	font-size:.8rem;
	padding:15px;
}

.contactDeets {
	display: flex;
	flex-direction:column;
	align-items:left;
/*	padding-left:25px;*/
	padding-right:25px;
	margin-left:15%;
	margin-right:5px;
	padding-top:40px;
	line-height:130%;
	}

.educationDeets {
	display: flex;
	flex-direction:column;
	align-items:left;
/*	padding-left:25px;*/
	padding-right:25px;
	margin-left:15%;
	margin-right:5px;
	wrap:wrap;
	padding-top:20px;
	line-spacing:120%;
}
.langSkills {
	display:flex;
	flex-direction:column;
	align-items:left;
/*	padding-left:25px;*/
	padding-right:25px;
	margin-left:15%;
	margin-right:5px;
	padding-bottom:100px;
	padding-top:20px;
}
.contactUnit{
	color:#B4535A;
	font-size:.9rem;
	focus:;
}

.contactUnit:hover{
	color:#D0D2CA;
}
/*/edUnit{
	padding-left:0px;
	display:flex;
	align-items:left;
	flex-direction:column;
	margin-left:0px;
	
}*/

.edName { 
	font-style:bold;
	font-size:1rem;
	color:black;
	padding-bottom:10px;
}
.edWhere {
	font-style:normal;
	font-size:.8rem;
	color:black;
	padding-bottom:10px;
/*	padding-top:10px;*/
}

.edWhen {
	font-style:normal;
    font-size:.8rem;
	color:black;
	padding-bottom:10px;
}


	
.langUnit {
	font-style:normal;
	font-size:.9rem;
	color:black;
	padding-bottom:10px;
}

.mainContent {
	display:flex;
	flex-direction:column;
	wrap:nowrap;
}

.careerProfile {
	display: flex;
	flex-direction:column;
	align-items:left;
	wrap:nowrap;
	margin: 15px;
	padding: 25px;
	padding-top:10%;
}
	
.profileBody {	
}
	
.projects {
	display: flex;
	flex-direction:column;
	align-items:left;
	wrap:nowrap;
	margin: 15px;
	padding: 25px;
}
	
.experience {
	display: flex;
	flex-direction:column;
	align-items:left;
	wrap:nowrap;
	margin: 15px;
	padding: 25px;
}

.experienceItemHeading {
	font-size:1.2rem;
	padding-top:10px;
	display:inline-block;
	flaot:left;
}

.expDates {
	font-size: 1rem;
	display:inline-block;
	float:right;
	margin-left:auto;
	color:#215097;
	padding-top:10px;
	padding-right:10%;
}
	
.experienceItemBody {
	font-size:.8rem;
	padding-top:5px;
	padding-bottom:10px;
}
	
.contentHeadings {
		font-size:1.3rem;
		color:black;
		padding-top:25px;

	
}

.footer {
	margin-left:40%;
	font-size:.6rem;
	border-top:5px;
}

@media only screen and (max-width:800px) {
	html { 
		font-size:20px;
	}
	
	.splitGrid{
		display:flex;
		flex-direction:column-reverse;
		wrap:wrap;
		margin-left:0;
		margin-right:0;
		
	}
	.bodyExp {
		background-color: #88A19E;
	}
	.header{
		.header {
			background-color:#215097;
			display: flex;
			margin: 10%;
			align-items:center;
			flex-direction: column;
			flex-wrap:wrap;
			width: 100%;
			color:#D0D2CA;
			padding-bottom: 30px;
	}
	
	.name{
		display:flex;
		align-items:center;
		margin-left:25%;
		margin-right:25%;
		text-size:1.6rem;
		
	}
	.status{
		align-items:center;
		margin-left:25%;
		margin-right:25%;
		text-size: 1.2rem;
		padding-bottom:20px;
	}
	
	.profilePic {
		border-radius: 50%;
		width: 80%;
		display: flex;
		margin:auto;
		align-items:center;
		margin-top: 40px;
	}
	.contactBar {
		background-color: #88A19E;
		display: flex;
		flex-direction: column;
		flex-wrap:wrap;
		align-items:center;
		justify-content:flex-start;
	}
	
	.footer {
		margin:0;
	}
	
	}



	