* {
	box-sizing:border-box;
}

html { 
	font-size:16px;
	font-family:"Microsoft sans serif", sans-serif;
}

body {
	margin:0px;
	padding:0px;
}

h1{}
h2{}	
h3{}
h4{}	

.splitGrid {
	display: grid;
	grid-template-columns: 75% 25% ;
}
.bodyExp {
	background-color: #A8A9A9;
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	margin-left: 40%;
}

.contactBar {
	background-color: #EB792F;
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
}

.header {
	background-color:#FFDE40;
	display: flex;
	margin:0 auto;
	align-items:center;
	flex-direction: column;
	flex-wrap:wrap;
	width: 100%;
}

.profilePic {
	border-radius: 50%;
	width: 100px;
/*	display: flex;*/
	margin-top:25px;
/*	align-items:center;*/
}
.status {
	font-size:1rem;
	color:dark;
}

.contactDeets {
	display: flex;
	flex-direction:column;
	align-items:left;
    margin-left:25px;
    align-items:left;
	padding-left:25px;
	padding-right:25px;
	}

.educationDeets {
	display: flex;
	margin-left:25px;
	align-items:left;
	flex-direction:column;
	padding-left:25px;
	padding-right:25px;
}

.edUnit{
	padding-left:0px;
	padding-right:25px;
	display:flex;
	align-items:left;
	flex-direction:column;
	margin-left:0px;
}
.edName{	text-style:bold;
	text-size:1rem;
	text-color:white;
	
}
.edWhere {
	text-style:normal;
	text-size:.7rem;
	text-color:white;
}

.edWhen {
	text-style:normal;
	text-size:.7rem;
}

.langSkills {
	display: flex;
	flex-direction:column;
	margin:0 auto;
	justify-content:flex-start;
}
	

.mainContent {
	display:flex;
	flex-direction:column;
	wrap:nowrap;
}

.careerProfile {
	display: flex;
	flex-direction:column;
	align-items:left;
	wrap:nowrap;
	margin: 15px;
	padding: 25px;
}
	
.profileBody {	
}
	
.projects{
	display: flex;
	flex-direction:column;
	align-items:left;
	wrap:nowrap;
	margin: 15px;
	padding: 25px;
}
	
.experience {
	display: flex;
	flex-direction:column;
	align-items:left;
	wrap:nowrap;
	margin: 15px;
	padding: 25px;
}

.experienceItemHeading {
	font-size:1rem;
}
	
.experienceItemBody {
	font-size:.7rem;
}
	
.contentHeadings{
}

footer {
	display:flex;
	align-items:center;
	margin:0 auto;
}